body{
	background-color: rgb(217, 52, 69);
	position: relative;
}
#titlename{
	    color:rgb(254, 220, 214);
	    position: absolute;
	    font-size: 50px;
	    font-style: oblique;
	    font-family: Franklin Gothic Bold;
	    left: 20px;
	    top:-30px;
}
#add{
    position: absolute;
    top:105px;
    left:20px;
    width: 350px;
    border:none;
    outline: medium;
    background-color: rgb(254, 220, 214);
    color: rgb(217, 52, 69);
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
}
#btn{
    border: none;
    width:50px;
    height: 31px;
    position:absolute;
    background-color: rgb(254, 220, 214);
    border-radius: 10px 10px 10px 10px;
    top:105px;
    color: rgb(217, 52, 69);
    font-size: 20px;
    outline:medium;
    left:400px;
}
#box1{
    color:rgb(254, 220, 214);
    position: absolute;
    font-size:30px;
    font-family:"微软黑体";
    left: 20px;
    top:130px;
}
#count1{
    width: 30px;
    height: 30px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    top:146px;
    left:150px;
    font-size: 20px;
    color: rgb(217, 52, 69);
    text-align: center;
    background-color: rgb(254, 220, 214);
}
#box3{
    color: rgb(254, 220, 214);
    position: absolute;
    top:188px;
    left:-20px;
    font-size: 17px;
}
#box3 input[type="text"]{
    background-color: rgb(217, 52, 69);
    color: rgb(254, 220, 214);
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 3px;
    width: 420px;
    /* outline: medium; */
}
.iiiii{
	    background-color: rgb(217, 52, 69);
	    color: rgb(254, 220, 214);
	    border: none;
	    border-radius: 10px 10px 10px 10px;
	    padding: 3px;
	    width: 420px;
	    outline: medium;
}
.dele{
	    background-color: rgb(254, 220, 214);
	    color:  rgb(217, 52, 69);
	    border: none;
	    outline: medium;
	    border-radius: 5px 5px 5px 5px;
}
#box4{
    color:rgb(254, 220, 214);
    position: absolute;
    font-size:30px;
    font-family:"微软黑体";
    left: 650px;
    top:130px;
}
#count2{
    width: 30px;
    height: 30px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    top:146px;
    left:750px;
    font-size: 20px;
    color: rgb(217, 52, 69);
    text-align: center;
    background-color: rgb(254, 220, 214);
}
#box5{
    color: rgb(254, 220, 214);
    position: absolute;
    top:188px;
    left:620px;
    font-size: 17px;
}
.iiiii1{
	    background-color: rgb(217, 52, 69);
	    color: rgb(254, 220, 214);
	    border: none;
	    border-radius: 10px 10px 10px 10px;
	    padding: 3px;
	    width: 420px;
	    outline: medium;
}
.dele1{
	    background-color: rgb(254, 220, 214);
	    color:  rgb(217, 52, 69);
	    border: none;
	    outline: medium;
	    border-radius: 5px 5px 5px 5px;
}